*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.currency-exchange-rate {
    width: 500px;
    margin: 50px auto 20px auto;
    display: flex;
    justify-content: space-between;
}
.container {
    position: relative;
    border: 2px solid black;
    width: 210px;
    max-height: 48px;
    display: grid;
    grid-template-rows: repeat(6, 48px);
    grid-template-columns: 210px;
    overflow: hidden;
    transition: all 0.5s;
}
.first-element {
    grid-row: 1/2;
}
.container-open {
    max-height: 285px; 
    transition: all 0.5s;
}
.container div {
    border-bottom: 2px solid black;
    padding: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.fa-circle-chevron-down {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 5px;
    font-size: 30px;
    color: #827c7c;
    cursor: pointer;
    transition: all 0.5s;
}
.icon-transform {
    transform: rotate(180deg);
}
.arrow-rotate {
    width: 56px;
    height: 52px;
    cursor: pointer;
    line-height: 70px;
    padding-left: 5px;
    text-align: center;
}
.fa-repeat {
    font-size: 40px;
    transition: all 0.5s;
    color: #ba1f3e;
}
img {
    width: 50px;
    height: 35px;
    vertical-align: middle;
    position: relative;
    z-index: -1;
}
span {
    font-size: 30px;
    padding-left: 15px;
    vertical-align: middle;
    position: relative;
    z-index: -1;
}
.container-input {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input {
    border: 1px solid black;
    padding-right: 5px;
}
.container-input input {
    width: 175px;
    height: 30px;
    font-size: 18px;
    border: none;
    outline: 0;
    padding-left: 5px;
    vertical-align: middle;
}
.fa-circle-xmark {
    font-size: 20px;
    color: #bbbbbb;
    vertical-align: middle;
    cursor: pointer;
}
.number {
    border: 1px solid black;
    width: 210px;
    height: 30px;
    padding-left: 5px;
    font-size: 20px;
    line-height: 28px;
}